* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 4px;

  border: 1px solid;
  border-radius: 0.25rem;

  line-height: 1.5;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.button-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.button-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
