* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 754.8px;
  height: 185px;
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-header {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: rgba(0, 0, 0, 0.03);

  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212529;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin-bottom: 8px;

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212529;
}

.card-text {
  margin-bottom: 16px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

a {
  display: inline-block;
}

.card-button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.card-button:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
